<div class="tab-content primary">
    <div class="tab-pane fade active show" id="profile-0">
        <div class="row margin-0">
            <div class="col-xl-12">
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tr>
                        <td>
                            <h2 class="title float-left">
                                Chief Complaint
                            </h2>
                        </td>
                        <td align="right">
                            <button kendoButton class="btn btn-success btn-corner" style="width:120px; font-size: 16px;"
                            (click)="saveCC()">Save</button>
                        </td>
                    </tr>
                </table>                    
            </div>
            <div class="col-xl-12">
                <section class="box nobox ">
                    <div class="content-body">
                        <div class="row">
                            
                                    <div class="col-12">
                                    <div class="form-group">
                                            <ckeditor [editor]="Editor" 
                                            data="dataDefault"
                                            [(ngModel)]="ckeditorContent"
                                            (ready)="onReady($event)"
                                            (change)="onChange($event)"
                                            class="form-control" cols="12" ></ckeditor>                                       
                                    </div>
                                <!-- </form> -->
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>