<div class="tab-content primary" id="myTabContent1">
    <div class="tab-pane fade show active" id="profile-1">
        <div class="row margin-0">
            <div class="col-xl-12 paddingLeft0 paddingRight0">
                <iframe [src]="getRcopia()"  frameborder="0" style="width: 100%; min-height: 500px;" allowfullscreen>
                </iframe>
            </div>
        </div>
        
    </div>
    
        <!-- <div class="tab-pane fade active show" id="profile-1">
            <div class="row margin-0">
                <div class="col-xl-6">
                    <section class="box nobox ">
                        <div class="content-body">  
                            <div class="row">
                                <div class="col-12">
                                    <h2>Prescribe Medication(S)</h2>
                                    <div class="form-group" *ngIf="tblvisibility">
                                    <table class="table table-striped dt-responsive display" cellspacing="0" width="100%">
                                        <tbody>
                                            <tr  *ngFor="let prescriptions of PrescriptionsDetails; let i = index">
                                                <td> {{prescriptions.prescriptionDrugName}}                    {{prescriptions.prescriptionPrescipbedBy}} </td> 
                                                <td align="right"> <button type="button" (click)="deleteRow(i)" class="deletbutton">X</button></td>
                                            </tr>                                                                                                                               
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                </div>
                <div class="col-xl-6">
                <section class="box nobox ">
                    <div class="content-body">  
                      <div class="row">
                       <div class="col-12">
                        <div class="wid-notification">
                            <div class="input-group mb-3">
                                <input style="border-radius: 10px; background: #fff; color: #000;" type="text" class="form-control" placeholder="Search By Prescription Name" 
                                [(ngModel)]="searchTerm"                                       
                                aria-label="PrescriptionSearch" aria-describedby="basic-addon2">
                                <i class="fa fa-search icon" (click)="Searchclick()"></i>
                            </div>  
                            <div *ngIf="admin">                                       
                                <div class="accordion-group" *ngFor="let prescrip of prescription |
                                PrescriptionSearchFilter: {DrugName: searchTerm, PrescriptionProvidedBy:searchTerm}">
                                            
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-row">
                                                        <div class="col-5" style="display: none;">
                                                            {{prescrip.Drugid}}
                                                        </div>
                                                        <div class="col-5">
                                                            {{prescrip.DrugName}}
                                                        </div>
                                                        <div class="col-6">
                                                            {{prescrip.PrescriptionProvidedBy}}
                                                        </div>
                                                        <div class="col-1"> 
                                                            <button type="button" class="showSingle addbutton" (click)="AddPrescriptionDetails(prescrip.Drugid, prescrip.DrugName, prescrip.PrescriptionProvidedBy)" target="3">+</button>  
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                                                   
                                    </div>
                                </div>                             
                            </div>                            
                        </div>
    
                        </div>
                      </div>
                    </div>
                </section>
                </div>
            </div>
        </div>    -->
</div>   



