<!-- SIDEBAR - START -->
<div class="page-sidebar pagescroll collapseit">
    <!-- MAIN MENU - START -->
    <div class="page-sidebar-wrapper" id="main-menu-wrapper">
        <!-- USER INFO - START -->
        <div class="profile-info row">
            <div class="profile-image col-4">
                <a [routerLink]="">
                    <img alt="" src="{{drImagePath}}" class="img-fluid rounded-circle">
                </a>
            </div>
            <div class="profile-details col-8">
                <h3>
                    <a [routerLink]="">{{drName}}</a>
                    <!-- Available statuses: online, idle, busy, away and offline -->
                    <span class="profile-status online"></span>
                </h3>
                <p class="profile-title">Surgeon</p>
            </div>
        </div>
        <!-- USER INFO - END -->
        <ul class='wraplist'>
            <li class=""> 
                <a [routerLink]="">
                    <i class="fa fa-dashboard"></i>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <li class="">
                <a href="javascript:;">
                    <i class="fa fa-user-md"></i>
                    <span class="title">Doctors</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a class="" [routerLink]="" >All Doctors</a>
                    </li>
                    <li>
                        <a class="" [routerLink]="" >Add Doctor</a>
                    </li>
                    <li>
                        <a class="" [routerLink]="" >Edit Doctor</a>
                    </li>
                    <li>
                        <a class="" [routerLink]="" >Doctor Profile</a>
                    </li>
                </ul>
            </li>
            <li class="open">
                <a href="javascript:;">
                    <i class="fa fa-users"></i>
                    <span class="title">Patients</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a class="" [routerLink]="['/patient-search']" >All Patients</a>
                    </li>
                    <li>
                        <a class="" [routerLink]="['/patient-create']" >Add Patient</a>
                    </li>
                    <li>
                        <a class="" [routerLink]="['/patient-search']" [queryParams]="{mode: 'edit-patient'}" >Edit Patient</a>
                    </li>
                    <li>
                        <a class="" [routerLink]="['/patient-profile']" >Patient Profile</a>
                    </li>
                </ul>
            </li>
            <li class="">
                <a href="javascript:;">
                    <i class="fa fa-calendar-o"></i>
                    <span class="title">Appointment</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu" >
                    <li>
                        <a class="" [routerLink]="['/appointment']" >Doctor Schedule</a>
                    </li>
                    <li>
                        <a class="" [routerLink]="['/patient-flow-sheet']" >Flow Sheet</a>
                    </li>
                    <li>
                        <a class="" [routerLink]="['/office-calendar']" >Office Calendar</a>
                    </li>
                </ul>
            </li>
            <li class="">
                <a href="javascript:;">
                    <i class="fa fa-bar-chart"></i>
                    <span class="title">Reports</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu" >
                    <li>
                        <a class="" [routerLink]="" >Patient</a>
                    </li>
                    <li>
                        <a class="" [routerLink]="" >Hospital</a>
                    </li>
                    <li>
                        <a class="" [routerLink]="" >Sales</a>
                    </li>
                </ul>
            </li>
            <li class=""> 
                <a href="javascript:;">
                    <i class="fa fa-dollar "></i>
                    <span class="title">Billing</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu" >
                    <li>
                        <a class="" [routerLink]="" >Payments</a>
                    </li>
                    <li>
                        <a class="" [routerLink]="" >Add Payment</a>
                    </li>
                    <li>
                        <a class="" [routerLink]="" >Patient Invoice</a>
                    </li>
                </ul>
            </li>
            <li class=""> 
                <a href="javascript:;">
                    <i class="fa fa-users"></i>
                    <span class="title">Hospital Staff</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu" >
                    <li>
                        <!-- <a class="" href="hos-staffs.html" >All Staff Members</a> -->
                    </li>
                    <li>
                        <!-- <a class="" href="hos-staff-add.html" >Add Staff Member</a> -->
                    </li>
                    <li>
                        <!-- <a class="" href="hos-staff-edit.html" >Edit Staff Member</a> -->
                    </li>
                    <li>
                        <!-- <a class="" href="hos-staff-profile.html" >Staff Member Profile</a> -->
                    </li>
                </ul>
            </li>
            <li class=""> 
                <a href="hos-events.html">
                    <i class="fa fa-calendar"></i>
                    <span class="title">Event Management</span>
                </a>
            </li>
        </ul>
        <div class="menustats">    
            <h5>Project Progress</h5>
            <div class="progress">
                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                </div>
            </div>
            <h5>Target Achieved</h5>
            <div class="progress">
                <div class="progress-bar progress-bar-accent" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                </div>
            </div>
        </div>
    </div>
    <!-- MAIN MENU - END -->
</div>  