<div class='page-topbar sidebar_shift'>
    <div class='logo-area'>
    </div>
    <div class='quick-area'>
        <app-header></app-header>
    </div>
</div>
<div class="page-container row-fluid container-fluid">
    <app-side-menu></app-side-menu>

    <section id="main-content" class="sidebar_shift">
        <div class="wrapper main-wrapper row">
            <div class='col-12'>
                <div class="page-title">
                    <div class="float-left">
                        <!-- PAGE HEADING TAG - START -->
                        <h1 class="title">Patient Information</h1><!-- PAGE HEADING TAG - END -->
                    </div>
                    <div class="float-right">
                        <button type="button" class="btn btn-primary" (click)="finish()"
                            style="margin-right: 5px;">Finish</button>
                        <button type="button" [routerLink]="['/patient-search']" [queryParams]="{mode: 'edit-patient'}"
                            class="btn">Cancel</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <form [formGroup]="patient_FormGroup" #patientForm="ngForm">
                    <div class="row">
                        <div class="col-lg-2 col-md-2">
                            <div class="uprofile-image">
                                <img alt="" src="assets/images/face2.png" class="img-fluid" />
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-row">
                                <div class="form-group col-md-5">
                                    <label class="form-label">First Name</label>
                                    <input class="form-control" formControlName="firstName" placeholder="First Name" type="text" />
                                </div>
                                <div class="form-group col-md-2">
                                    <label class="form-label">M </label>
                                    <input class="form-control" formControlName="middleName" type="text" />
                                </div>
                                <div class="form-group col-md-5">
                                    <label class="form-label">Last Name</label>
                                    <input class="form-control" formControlName="lastName" type="text" placeholder="Last Name" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label">Gender:</label>
                                <div class="col-sm-8" style="margin-top: 5px;margin-left: 15px;">
                                    <div class="row">
                                        <div class="form-check col-sm-3">
                                            <input class="form-check-input" formControlName="gender" type="radio" name="gender" id="redioMale" value="Male" checked />
                                            <label class="form-check-label" for="redioMale">Male</label>
                                        </div>
                                        <div class="form-check col-sm-4">
                                            <input class="form-check-input" formControlName="gender" type="radio" name="gender" value="Female" id="redioFemale">
                                            <label class="form-check-label" for="redioFemale">Female</label>
                                        </div>
                                        <div class="form-check col-sm-3">
                                            <input class="form-check-input" formControlName="gender" type="radio" name="gender" value="Undisclosed" id="redioUndisclosed">
                                            <label class="form-check-label" for="redioUndisclosed">Undisclosed</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputDateOfBirth" class="col-form-label">Date of Birth:</label>
                                <div class="col-sm-6">
                                    <input type="date" formControlName="DOB" value="MM/DD/YYYY" class="form-control" id="inputDateOfBirth" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="clearfix"></div>
            <!-- MAIN CONTENT AREA STARTS -->
            <div class="col-lg-12">
                <ul class="nav nav-tabs primary" id="myTab1" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" role="tab" href="#Allergies" data-toggle="tab">Allergies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" role="tab" href="#Immunizations" data-toggle="tab">Immunizations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" role="tab" href="#alert" data-toggle="tab">Alert</a>
                    </li>
                </ul>
                <div class="tab-content primary" id="tcAllergies">
                    <div class="tab-pane fade show active" id="Allergies">
                        <section class="box ">
                            <header class="panel_header"><h2 class="title float-left">Allergies</h2></header>
                            <div class="content-body">
                                <form [formGroup]="allergies_FormGroup" #allergiesForm="ngForm">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label class="form-label">Allergies: </label>
                                                    <input class="form-control" id="allergies_Description" formControlName="allergies_Description" placeholder="Allergies" type="text">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label class="form-label">Code: </label>
                                                    <input class="form-control" id="allergies_Code" formControlName="allergies_Code" placeholder="Code" type="text"/>
                                                </div>
                                                <div class="form-group col-md-1" style="padding-top:33px">
                                                    <button type="button" class="btn btn-primary rss" (click)="addAllergies()">
                                                        <i class="fa fa-plus vimeo-square"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <table class="table table-striped table-bordered">    
                                                <thead>    
                                                    <tr><th>Allergies</th><th>Code</th><th></th>
                                                    </tr>
                                                </thead>    
                                                <tbody>    
                                                    <tr *ngFor="let allergy of allergyArray; let i = index;">
                                                        <td>{{allergy.Description}}</td>
                                                        <td>{{allergy.Code}}</td>
                                                        <td (click)="deleteRow(i)"><i class="fa fa-trash fa-2x"></i></td>
                                                    </tr>                                                   
                                                </tbody>    
                                            </table>    
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                    <div class="tab-pane fade" id="Immunizations">
                        <section class="box ">
                            <header class="panel_header"><h2 class="title float-left">Immunizations</h2></header>
                            <div class="content-body">
                                <form [formGroup]="immunizations_FormGroup" #immunizationsForm="ngForm">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-row">
                                                <div class="form-group col-md-3">
                                                    <label class="form-label">Year: </label>
                                                    <input class="form-control" type="date" id="immunizations_Date" formControlName="immunizations_Date" />
                                                    <!-- <input type="text" id="dateOfBirth" name="dateOfBirth" formControlName="dateOfBirth" 
                                                    class="form-control datepicker"  data-format="YYYY" 
                                                    bsDatepicker [bsConfig]="{containerClass:'theme-default', dateInputFormat: 'YYYY'}" (onShown)="onOpenCalendar($event)"> -->
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label class="form-label">&nbsp; </label>
                                                    <input type="text" class="form-control" id="immunizations_Code" formControlName="immunizations_Code" placeholder="Code">
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label class="form-label">&nbsp; </label>
                                                    <input type="text" class="form-control" id="immunizations_Description" formControlName="immunizations_Description" placeholder="Description">
                                                </div>
                                                <div class="form-group col-md-1" style="padding-top:33px;">
                                                    <button type="button" class="btn btn-primary rss"  (click)="addImmunizations()">
                                                        <i class="fa fa-plus vimeo-square"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <table class="table table-striped table-bordered">    
                                                <thead>    
                                                    <tr><th>Date</th><th>Code</th><th>Description</th><th></th>
                                                    </tr>
                                                </thead>    
                                                <tbody>    
                                                    <tr *ngFor="let immunization of immunizationArray; let i = index;">
                                                        <td>{{immunization.Date}}</td>
                                                        <td>{{immunization.Code}}</td>
                                                        <td>{{immunization.Description}}</td>
                                                        <td (click)="deleteImmunizationRow(i)"><i class="fa fa-trash fa-2x"></i></td>
                                                    </tr>                                                   
                                                </tbody>    
                                            </table>    
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                    <div class="tab-pane fade" id="alert">
                        <section class="box ">
                            <header class="panel_header">
                                <h2 class="title float-left">Alert</h2>
                            </header>
                            <div class="content-body">
                                <form [formGroup]="alert_FormGroup" #alertForm="ngForm">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-row">
                                                <div class="form-group col-md-4">
                                                    <label class="form-label">Alert Keyword: </label>
                                                    <select class="form-control" id="alert_Code" formControlName="alert_Code">
                                                        <option value="">--Select--</option>
                                                        <option value="{{item.ID}}" *ngFor="let item of alertKeywordArray">{{item.Name}}</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-8">
                                                    <label class="form-label">Alert Remark: </label>
                                                    <textarea class="form-control" cols="5" id="field-6" id="alert_Description" formControlName="alert_Description"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <!-- MAIN CONTENT AREA ENDS -->
        </div>
    </section>
</div>