<div class='page-topbar sidebar_shift'>
    <div class='logo-area'>
    </div>
    <div class='quick-area'>
        <app-header></app-header>
    </div>
</div>
<div class="page-container row-fluid container-fluid">
    <app-side-menu></app-side-menu>

    <section id="main-content" class="sidebar_shift">
        <div class="wrapper main-wrapper row">
            <div class='col-12'>
                <div class="page-title">
                    <div class="float-left">
                        <!-- PAGE HEADING TAG - START -->
                        <h1 class="title">Patient Information</h1><!-- PAGE HEADING TAG - END -->
                    </div>
                    <div class="float-right">
                        <button type="button" class="btn btn-primary" (click)="finish()" style="margin-right: 5px;">Finish</button>
                        <button type="button" [routerLink]="['/patient-search']" [queryParams]="{mode: 'edit-patient'}" class="btn">Cancel</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <form [formGroup]="patient_FormGroup" #patientForm="ngForm">
                    <div class="row">
                        <div class="col-lg-2 col-md-2">
                            <div class="uprofile-image">
                                <img alt="" src="assets/images/face2.png" class="img-fluid" />
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-row">
                                <div class="form-group col-md-5">
                                    <label class="form-label">First Name</label>
                                    <input class="form-control" formControlName="firstName" placeholder="First Name" type="text" />
                                </div>
                                <div class="form-group col-md-2">
                                    <label class="form-label">M </label>
                                    <input class="form-control" formControlName="middleName"  type="text" />
                                </div>
                                <div class="form-group col-md-5">
                                    <label class="form-label">Last Name</label>
                                    <input class="form-control" formControlName="lastName" type="text"
                                        placeholder="Last Name" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-form-label">Gender:</label>
                                <div class="col-sm-8" style="margin-top: 5px;margin-left: 15px;">
                                    <div class="row">
                                        <div class="form-check col-sm-3">
                                            <input class="form-check-input" formControlName="gender" type="radio" name="gender" id="redioMale" value="Male" checked/>
                                            <label class="form-check-label" for="redioMale">Male</label>
                                        </div>
                                        <div class="form-check col-sm-4">
                                            <input class="form-check-input" formControlName="gender" type="radio" name="gender" value="Female" id="redioFemale">
                                            <label class="form-check-label" for="redioFemale">Female</label>
                                        </div>
                                        <div class="form-check col-sm-3">
                                            <input class="form-check-input" formControlName="gender" type="radio" name="gender" value="Undisclosed" id="redioUndisclosed">
                                            <label class="form-check-label" for="redioUndisclosed">Undisclosed</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputDateOfBirth" class="col-form-label">Date of Birth:</label>
                                <div class="col-sm-6">
                                    <input type="date" formControlName="DOB" value="MM/DD/YYYY" class="form-control" id="inputDateOfBirth" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="clearfix"></div>
            <!-- MAIN CONTENT AREA STARTS -->
            <div class="col-lg-12">
                <ul class="nav nav-tabs primary" id="tabListPatientDetail" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="#Contact" role="tab" data-toggle="tab">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" role="tab" href="#Social" data-toggle="tab">Social</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" role="tab" href="#Billing" data-toggle="tab">Billing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" role="tab" href="#Insurance" data-toggle="tab">Insurance</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" role="tab" href="#Authorization" data-toggle="tab">Authorization</a>
                    </li>
                </ul>
                <div class="tab-content primary" id="tabContentBody">
                    <div class="tab-pane fade show active" id="Contact">
                        <div class="box ">
                            <div class="content-body">
                                <div class="row">
                                    <div class="col-7" style="border-right: 1px solid #6f6767;">
                                        <form [formGroup]="patientContact_FormGroup" #patientContactForm="ngForm">
                                            <h4 style="margin-left: -22px;">PATIENT</h4>
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">Primary Phone:</label>
                                                <div class="col-sm-7">
                                                    <input type="text" formControlName="contact_PrimaryPhone" id="primaryPhone" class="form-control" data-mask="phone" data-sign="+1" placeholder="(xxx)-xxx-xxxx" />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">Secondary Phone:</label>
                                                <div class="col-sm-7">
                                                    <input type="text" formControlName="contact_SecondaryPhone" id="secondaryPhone" class="form-control" data-mask="phone" placeholder="(xxx)-xxx-xxxx" />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">Email:</label>
                                                <div class="col-sm-7">
                                                    <input type="text" formControlName="contact_Email" id="email" value="abc@abc.com"  class="form-control" />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="inputEmail3" class="col-sm-4 col-form-label">Billing Address:</label>
                                                <div class="col-sm-7">
                                                    <input id="billingAddress_Street1" formControlName="contact_AddressLine" class="form-control :" placeholder="Street 1" type="text">
                                                    <input id="billingAddress_Street2" formControlName="contact_AddressLine1" class="form-control :" placeholder="Street 2" type="text">
                                                    <input id="billingAddress_City" formControlName="contact_AddressCity" class="form-control :" placeholder="City" type="text">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <!-- <input id="billingAddress_State" formControlName="contact_AddressState" class="form-control :" placeholder="State(xxx)" type="text" /> -->
                                                            <select class="form-control" name="" id="billingAddress_State" formControlName="contact_AddressState" class="form-control">
                                                                <option value="">--Select--</option>
                                                                <option value="{{item.ID}}" *ngFor="let item of state">{{item.Name}}</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <input id="billingAddress_Zip" formControlName="contact_AddressPostalCode" class="form-control :" placeholder="Zip(xxxxxx-xxxx)" type="text" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-5">
                                        <form [formGroup]="patientEmergency_FormGroup" #patientEmergency="ngForm">
                                            <h4 style="margin-left: -8px;">EMERGENCY <br>Contact</h4>
                                            <div class="form-group row">
                                                <label class="col-sm-6 col-form-label">Relationship with patient</label>
                                                <div class="col-sm-6">
                                                    <!-- <input id="emergency_RelationshipWithPatient" formControlName="emergency_Relationship" type="text" class="form-control" /> -->

                                                    <select class="form-control" name="" id="emergency_RelationshipWithPatient" formControlName="emergency_Relationship" class="form-control">
                                                        <option value="">--Select--</option>
                                                        <option value="{{item.ID}}" *ngFor="let item of relationshipWithPatient">{{item.Name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Name:</label>
                                                <div class="col-sm-9">
                                                    <input id="emergency_FullName" formControlName="emergency_ContactName" type="text" class="form-control" placeholder="Full Name" />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Phone:</label>
                                                <div class="col-sm-9">
                                                    <input id="emergency_Phone" formControlName="emergency_ContactPhone" type="text" class="form-control" data-mask="phone" placeholder="(xxx)-xxx-xxxx" />
                                                </div>
                                            </div>
                                            <h4 style="margin-left: -8px;">EMPLOYER Contact</h4>

                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Name:</label>
                                                <div class="col-sm-9">
                                                    <input id="employer_FullName" formControlName="employer_FullName" type="text" class="form-control" placeholder="Full Name" />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Phone:</label>
                                                <div class="col-sm-9">
                                                    <input id="employer_Phone"  formControlName="employer_Phone" type="text" class="form-control" data-mask="phone" placeholder="(xxx)-xxx-xxxx" />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Address:</label>
                                                <div class="col-sm-9">
                                                    <textarea id="employer_Address" formControlName="employer_Address" class="form-control" cols="5"></textarea>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="Social">
                        <div class="box">
                            <div class="content-body">
                                <div class="row">
                                    <div class="col-12">
                                        <form [formGroup]="patientSocial1_FormGroup" #patientSocial1="ngForm">
                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-form-label">Marital Status:</label>
                                            <div class="col-sm-10" style="margin-top: 5px;margin-left: 15px;">
                                                <div class="row">
                                                    <div class="form-check col-sm-2">
                                                        <input class="form-check-input" formControlName="social_MaritalStatus" value="Married" type="radio" name="social_MaritalStatus" id="radioMarried" />
                                                        <label class="form-check-label" for="radioMarried">Married</label>
                                                    </div>
                                                    <div class="form-check col-sm-2">
                                                        <input class="form-check-input" formControlName="social_MaritalStatus" value="Divorced" type="radio" name="social_MaritalStatus" id="radioDivorced" />
                                                        <label class="form-check-label" for="radioDivorced">Divorced</label>
                                                    </div>
                                                    <div class="form-check col-sm-2">
                                                        <input class="form-check-input" formControlName="social_MaritalStatus" value="Single" type="radio" name="social_MaritalStatus" id="radioSingle" />
                                                        <label class="form-check-label" for="radioSingle">Single</label>
                                                    </div>
                                                    <div class="form-check col-sm-2">
                                                        <input class="form-check-input" formControlName="social_MaritalStatus" value="Other" type="radio" name="social_MaritalStatus" id="radioSocialMaritalStatusOther" />
                                                        <label class="form-check-label" for="radioOther">Other</label>
                                                    </div>
                                                    <div class="form-check col-sm-4">
                                                        <input id="inputOther" formControlName="social_MaritalStatusOther" class="form-control" type="text" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </form>
                                    </div>
                                    <div class="col-12">
                                        <h4 style="margin-left: -22px;">Patient is minor(under the age of 18):</h4>
                                    </div>
                                    <div class="col-7">
                                        <form [formGroup]="patientSocial2_FormGroup" #patientSocial2="ngForm">
                                            <div class="form-group row">
                                                <label for="inputEmail3" class="col-sm-3 col-form-label">Guardian Name:</label>
                                                <div class="col-sm-9">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <input class="form-control" formControlName="social_GuardianFirstName" placeholder="First Name" type="text" />
                                                        </div>
                                                        <div class="col-md-6">
                                                            <input class="form-control" formControlName="social_GuardianLastName" type="text" placeholder="Last Name" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="inputEmail3" class="col-sm-3 col-form-label">Mailing Address:</label>
                                                <div class="col-sm-9">
                                                    <input class="form-control :" formControlName="social_AddressLine" placeholder="Street#,Apt#" type="text" />
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <input class="form-control :"  formControlName="social_AddressCity" placeholder="City" type="text" />
                                                        </div>
                                                        <div class="col-md-4">
                                                            <!-- <input class="form-control :" formControlName="social_AddressState" placeholder="State" type="text" /> -->

                                                            <select class="form-control" name="" id="social_AddressState" formControlName="social_AddressState" class="form-control">
                                                                <option value="">--Select--</option>
                                                                <option value="{{item.ID}}" *ngFor="let item of state">{{item.Name}}</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <input class="form-control :" formControlName="social_AddressZip" placeholder="Zip" type="text" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-5">
                                        <form [formGroup]="patientSocial3_FormGroup" #patientSocial3="ngForm">
                                            <div class="form-group row">
                                                <label class="col-sm-5 col-form-label">Date of Birth:</label>
                                                <div class="col-sm-7">
                                                    <input type="date" formControlName="social_DOB" value="MM/DD/YYYY" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-5 col-form-label">Social Seccurity#</label>
                                                <div class="col-sm-7">
                                                    <input type="text" formControlName="social_GuardianSSN" placeholder="xxx-xx-xxxx" data-mask="999-99-9999" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-5 col-form-label">Phone Number#:</label>
                                                <div class="col-sm-7">
                                                    <input type="text" formControlName="social_PhoneNumber" class="form-control" data-mask="phone" placeholder="(xxx)-xxx-xxxx" />
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-12">
                                        <form [formGroup]="patientSocial4_FormGroup" #patientSocial4="ngForm">
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Social Seccurity#</label>
                                                <div class="col-sm-4">
                                                    <input type="text" formControlName="social_PatientSSN" placeholder="xxx-xx-xxxx" data-mask="999-99-9999" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Drivers License#</label>
                                                <div class="col-sm-4">
                                                    <input type="file" formControlName="social_DriversLicenseFilePath" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Race:</label>
                                                <div class="col-sm-4">
                                                    <!-- <select class="form-control" formControlName="social_Race">
                                                        <option value="1" selected="">Race..</option>
                                                        <option value="2">...</option>
                                                    </select> -->

                                                    <select class="form-control" id="social_Race" formControlName="social_Race" class="form-control">
                                                        <option value="">--Select--</option>
                                                        <option value="{{item.ID}}" *ngFor="let item of race">{{item.Name}}</option>
                                                    </select>
                                                </div>
                                                <label class="col-sm-2 col-form-label">Preferred Language:</label>
                                                <div class="col-sm-4">
                                                    <select class="form-control" formControlName="social_Language">
                                                        <option value="">--Select--</option>
                                                        <option value="{{item.ID}}" *ngFor="let item of preferredLanguage">{{item.Name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Ethicity:</label>
                                                <div class="col-sm-4">
                                                    <select class="form-control" formControlName="social_Ethicity">
                                                        <option value="">--Select--</option>
                                                        <option value="{{item.ID}}" *ngFor="let item of ethicity">{{item.Name}}</option>
                                                    </select>
                                                </div>
                                                <label class="col-sm-4 col-form-label">Preferred mode of communication:</label>
                                                <div class="col-sm-2">
                                                    <select class="form-control" formControlName="social_CommMode">
                                                        <option value="">--Select--</option>
                                                        <option value="{{item.ID}}" *ngFor="let item of preferredModeOfCommunication">{{item.Name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="Billing">
                        <section class="box ">
                            <div class="content-body">
                                <form [formGroup]="patientBilling_FormGroup" #patientBilling="ngForm">
                                    <div class="row">
                                        <div class="col-12">
                                            <h4 style="margin-left: -22px;">Name of responsible party for billing (if other than patient):</h4>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group row">
                                                <div class="col-sm-12" style="margin-top: 5px;margin-left: 15px;">
                                                    <div class="row">
                                                        <div class="form-check col-sm-1">
                                                            <input class="form-check-input" formControlName="billingParty" type="radio" name="billingParty" id="radioSpouse" value="Spouse" checked="" />
                                                            <label class="form-check-label" for="radioSpouse">Spouse</label>
                                                        </div>
                                                        <div class="form-check col-sm-1">
                                                            <input class="form-check-input" formControlName="billingParty" type="radio" name="billingParty" id="radioParent" value="Parent" />
                                                            <label class="form-check-label" for="radioParent">Parent</label>
                                                        </div>
                                                        <div class="form-check col-sm-2">
                                                            <input class="form-check-input" formControlName="billingParty" type="radio" name="billingParty" id="radioAutoInsurance" value="Auto Insurance" />
                                                            <label class="form-check-label" for="radioAutoInsurance">Auto Insurance</label>
                                                        </div>
                                                        <div class="form-check col-sm-3">
                                                            <input class="form-check-input" formControlName="billingParty" type="radio" name="billingParty" id="radioWorkersCompInsurance" value="Workers Comp Insurance" />
                                                            <label class="form-check-label" for="radioWorkersCompInsurance">Workers Comp Insurance</label>
                                                        </div>
                                                        <div class="form-check col-sm-2">
                                                            <input class="form-check-input" formControlName="billingParty" type="radio" name="billingParty" id="radioHMOInsurance" value="HMO Insurance" />
                                                            <label class="form-check-label" for="radioHMOInsurance">HMO Insurance</label>
                                                        </div>
                                                        <div class="form-check col-sm-1">
                                                            <input class="form-check-input" formControlName="billingParty" type="radio" name="billingParty" id="radioBillingPartyOther" value="Other" />
                                                            <label class="form-check-label" for="radioOther">Other</label>
                                                        </div>
                                                        <div class="form-check col-sm-2">
                                                            <input class="form-control" formControlName="billingPartyOther" type="text" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <h4 style="margin-left: -22px;">Details of Parent or Spouse for billing (if different from patient):</h4>
                                        </div>
                                        <div class="col-6">
                                                <div class="form-row">
                                                    <div class="form-group col-md-5">
                                                        <label class="form-label">First Name</label>
                                                        <input class="form-control" formControlName="billing_FirstName" placeholder="First Name" name="formfield1" type="text" />
                                                    </div>
                                                    <div class="form-group col-md-2">
                                                        <label class="form-label">M </label>
                                                        <input class="form-control" formControlName="billing_MiddleName" placeholder="Middle Name" name="formfield1" type="text" />
                                                    </div>
                                                    <div class="form-group col-md-5">
                                                        <label class="form-label">Last Name</label>
                                                        <input class="form-control" formControlName="billing_LastName" name="billing_LastName" type="text" placeholder="Last Name" />
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="inputEmail3" class="col-sm-3 col-form-label">Address:</label>
                                                    <div class="col-sm-9">
                                                        <input class="form-control :" formControlName="billing_AddressLine" placeholder="Street 1" type="text" />
                                                        <input class="form-control :" formControlName="billing_AddressLine1" placeholder="Street 2" type="text" />
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <input class="form-control :" formControlName="billing_AddressCity" placeholder="City" type="text" />
                                                            </div>
                                                            <div class="col-md-4">
                                                                <!-- <input class="form-control :" formControlName="billing_AddressState" placeholder="State" type="text" /> -->
                                                                <select class="form-control" name="" id="billing_AddressState" formControlName="billing_AddressState" class="form-control">
                                                                    <option value="">--Select--</option>
                                                                    <option value="{{item.ID}}" *ngFor="let item of state">{{item.Name}}</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <input class="form-control :" formControlName="billing_AddressZip" placeholder="Zip" type="text" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="col-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Date of Birth:</label>
                                                    <div class="col-sm-7">
                                                        <input type="date" formControlName="billing_DOB" value="MM/DD/YYYY" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Social Seccurity#</label>
                                                    <div class="col-sm-7">
                                                        <input type="text" formControlName="billing_SSN" placeholder="xxx-xx-xxxx" data-mask="999-99-9999" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Drivers License#</label>
                                                    <div class="col-sm-7">
                                                        <input type="file" class="form-control"  formControlName="billing_DriversLicenseFilePath" />
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Primary Phone:</label>
                                                    <div class="col-sm-7">
                                                        <input type="text" class="form-control" formControlName="billing_PrimaryPhone"  data-mask="phone" placeholder="(xxx)-xxx-xxxx" />
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-4 col-form-label">Secondary Phone:</label>
                                                    <div class="col-sm-7">
                                                        <input type="text" class="form-control" formControlName="billing_SecondaryPhone" data-mask="phone" placeholder="(xxx)-xxx-xxxx" />
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                    <div class="tab-pane fade" id="Insurance">
                        <div class="content-body">
                            <form [formGroup]="patientInsurance_FormGroup" #patientInsurance="ngForm">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-row">
                                            <div class="form-group col-md-3">
                                                <label class="form-label">Provider Name:</label>
                                                <select class="form-control" formControlName="insurance_ProviderName" (change)="providerChangeHandler($event)">
                                                    <option value="">--Select--</option>
                                                    <option value="{{item.ID}}" *ngFor="let item of providerName">{{item.Name}}</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label class="form-label">Insurance Policy :</label>
                                                <input formControlName="insurancePolicy" class="form-control" placeholder="Insurance Policy" type="text" />
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label class="form-label">Policy Type: </label>
                                                <select formControlName="insurance_PolicyType" class="form-control" (change)="policyTypeChangeHandler($event)">
                                                    <option value="1" selected="">primary</option>
                                                    <option value="2">secondary</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-3">
                                                <label class="form-label">Card Image:</label>
                                                <input formControlName="insurance_CardImageFilePath" class="form-control" type="file" placeholder="Card Image">
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label class="form-label">Effective From :</label>
                                                <input formControlName="insurance_EffectiveFrom" class="form-control" type="date">
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label class="form-label">Status: </label>
                                                <select formControlName="insurance_Status" class="form-control" (change)="statusChangeHandler($event)">
                                                    <option value="1" selected="">active </option>
                                                    <option value="2">inactive</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-1" style="padding-top:10px">
                                                <label class="form-label" style="visibility: hidden;">none </label>
                                                <button type="button" class="btn btn-primary rss" (click)="addPolicy()">
                                                    <i class="fa fa-plus vimeo-square"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <table class="table table-striped table-bordered">    
                                            <thead>    
                                                <tr><th>Provider Name</th><th>Insurance Policy</th><th>Policy Type</th><th>Card Image</th><th>Effective From</th><th>Status</th><th></th>
                                                </tr>
                                            </thead>    
                                            <tbody>    
                                                <tr *ngFor="let insurance of insuranceArray; let i = index;">
                                                    <td>{{insurance.Provider_Name}}</td>
                                                    <td>{{insurance.Insurance_Policy}}</td>
                                                    <td>{{insurance.Policy_Type}}</td>
                                                    <td>{{insurance.Card_Image_FilePath}}</td>
                                                    <td>{{insurance.Effective_From}}</td>
                                                    <td>{{insurance.Status}}</td>
                                                    <td (click)="deleteRow(i)"><i class="fa fa-trash fa-2x"></i></td>
                                                </tr>                                                   
                                            </tbody>    
                                        </table>    
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="Authorization">
                        <div class="content-body">
                            <form [formGroup]="patientAuthorization_FormGroup" #patientAuthorization="ngForm">
                                <div class="row">
                                    <div class="col-3"></div>
                                    <div class="col-6">
                                        <!--<input (change)="onAuthorizationFileSelected($event)" class="form-control" formControlName="authorizationFilePath" type="file" style="padding: 78px;"> -->
                                        <input class="form-control" formControlName="authorizationFilePath" type="file" style="padding: 78px;">
                                    </div>
                                    <div class="col-3"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- MAIN CONTENT AREA ENDS -->
        </div>
    </section>
</div>