<div class="container-fluid">
    <div class="login-wrapper row">
        <div class="login loginpage offset-xl-4 offset-lg-3 offset-md-3 offset-0 col-12 col-md-6 col-xl-4">                   
            <h1><a href="#" title="Login Page" tabindex="-1">Complete Admin</a></h1>
            <ul class="list-unstyled notification-widget">
                <li class="status-available">
                    <a href="javascript:;" (click)="onClick('Dr.Marc Polimeni','assets/images/Dr_Marc_Polimeni.jpg')">
                        <div class="user-img">
                            <img src="assets/images/Dr_Marc_Polimeni.jpg" alt="user-image" class="rounded-circle img-inline">
                        </div>
                        <div>
                            <span class="name">
                                <strong>Dr.Marc Polimeni</strong>
                            </span>
                        </div>
                    </a>
                </li>
                                      
                <li class="status-available">
                    <a href="javascript:;" (click)="onClick('Dr. Andrew Pecora', 'assets/images/Dr_Andrew_Pecora.png')">
                    <div class="user-img">
                        <img src="assets/images/Dr_Andrew_Pecora.png" alt="user-image" class="rounded-circle img-inline">
                        </div>
                    <div>
                        <span class="name">
                            <strong>Dr.Andrew Pecora</strong>
                        </span>
                    </div>
                    </a>
                </li>
                                      
                <!-- <li class="status-available">
                    <a href="javascript:;" (click)="onClick('Dr.Marcus Wells', 'assets/images/Dr_Marcus_Wells.jpg')">
                    <div class="user-img">
                        <img src="assets/images/Dr_Marcus_Wells.jpg" alt="user-image" class="rounded-circle img-inline">
                        </div>
                    <div>
                        <span class="name">
                            <strong>Dr.Marcus Wells</strong>
                        </span>
                    </div>
                    </a>
                </li>                                       -->
                                      
                <!-- <li class="status-available">
                    <a href="javascript:;" (click)="onClick('Nurse Donna', 'assets/images/Nurse_Donna.jpg')">
                    <div class="user-img">
                        <img src="assets/images/Nurse_Donna.jpg" alt="user-image" class="rounded-circle img-inline">
                        </div>
                    <div>
                        <span class="name">
                            <strong>Nurse Donna</strong>
                        </span>
                    </div>
                    </a>
                </li> -->
                                      
                <!-- <li class="status-available">
                    <a href="javascript:;" (click)="onClick('Nurse Torianne', 'assets/images/Nurse_Torianne.jpg')">
                    <div class="user-img">
                        <img src="assets/images/Nurse_Torianne.jpg" alt="user-image" class="rounded-circle img-inline">
                        </div>
                    <div>
                        <span class="name">
                            <strong>Nurse Torianne</strong>
                        </span>
                    </div>
                    </a>
                </li> -->
                <li class="status-available">
                    <a href="javascript:;" (click)="onClick('', '')">
                        <div class="user-img">
                            <img src="assets/images/icons8-male-user-50.png" alt="user-image" class="rounded-circle img-inline">
                        </div>
                        <div>
                            <span class="name">
                                <strong>Add Account</strong>
                            </span>
                        </div>
                    </a>
                </li>
            </ul>	                   	 
        </div>
    </div>
</div>
