<div class="page-topbar  sidebar_shift">
    <div class="logo-area">
    </div>
    <div class="quick-area">                         
        <div class="float-left">
            <ul class="info-menu left-links list-inline list-unstyled">
                <li class="sidebar-toggle-wrap list-inline-item">
                    <a [routerLink]="" data-toggle="sidebar" class="sidebar_toggle">
                        <i class="fa fa-bars"></i>
                    </a>
                </li>               
                <li class="message-toggle-wrapper list-inline-item">
                    <a href="#" data-toggle="dropdown" class="toggle">
                        <i class="fa fa-envelope"></i>                        
                        <span class="badge badge-pill badge-accent">7</span>
                    </a>
                    <ul class="dropdown-menu messages animated fadeIn">

                        <li class="list dropdown-item">

                            <ul class="dropdown-menu-list list-unstyled ps-scrollbar">
                                <li class="unread status-available">
                                    <a href="javascript:;">
                                        <div class="user-img">
                                            <img src="../../assets/data/profile/avatar-1.png" alt="user-image" class="rounded-circle img-inline">
                                        </div>
                                        <div>
                                            <span class="name">
                                                <strong>Clarine Vassar</strong>
                                                <span class="time small">- 15 mins ago</span>
                                                <span class="profile-status available float-right"></span>
                                            </span>
                                            <span class="desc small">
                                                Sometimes it takes a lifetime to win a battle.
                                            </span>
                                        </div>
                                    </a>
                                </li>
                                <li class=" status-away">
                                    <a href="javascript:;">
                                        <div class="user-img">
                                            <img src="../../assets/data/profile/avatar-2.png" alt="user-image" class="rounded-circle img-inline">
                                        </div>
                                        <div>
                                            <span class="name">
                                                <strong>Brooks Latshaw</strong>
                                                <span class="time small">- 45 mins ago</span>
                                                <span class="profile-status away float-right"></span>
                                            </span>
                                            <span class="desc small">
                                                Sometimes it takes a lifetime to win a battle.
                                            </span>
                                        </div>
                                    </a>
                                </li>
                                <li class=" status-busy">
                                    <a href="javascript:;">
                                        <div class="user-img">
                                            <img src="../../assets/data/profile/avatar-3.png" alt="user-image" class="rounded-circle img-inline">
                                        </div>
                                        <div>
                                            <span class="name">
                                                <strong>Clementina Brodeur</strong>
                                                <span class="time small">- 1 hour ago</span>
                                                <span class="profile-status busy float-right"></span>
                                            </span>
                                            <span class="desc small">
                                                Sometimes it takes a lifetime to win a battle.
                                            </span>
                                        </div>
                                    </a>
                                </li>
                                <li class=" status-offline">
                                    <a href="javascript:;">
                                        <div class="user-img">
                                            <img src="../../assets/data/profile/avatar-4.png" alt="user-image" class="rounded-circle img-inline">
                                        </div>
                                        <div>
                                            <span class="name">
                                                <strong>Carri Busey</strong>
                                                <span class="time small">- 5 hours ago</span>
                                                <span class="profile-status offline float-right"></span>
                                            </span>
                                            <span class="desc small">
                                                Sometimes it takes a lifetime to win a battle.
                                            </span>
                                        </div>
                                    </a>
                                </li>
                                <li class=" status-offline">
                                    <a href="javascript:;">
                                        <div class="user-img">
                                            <img src="../../assets/data/profile/avatar-5.png" alt="user-image" class="rounded-circle img-inline">
                                        </div>
                                        <div>
                                            <span class="name">
                                                <strong>Melissa Dock</strong>
                                                <span class="time small">- Yesterday</span>
                                                <span class="profile-status offline float-right"></span>
                                            </span>
                                            <span class="desc small">
                                                Sometimes it takes a lifetime to win a battle.
                                            </span>
                                        </div>
                                    </a>
                                </li>
                                <li class=" status-available">
                                    <a href="javascript:;">
                                        <div class="user-img">
                                            <img src="../../assets/data/profile/avatar-1.png" alt="user-image" class="rounded-circle img-inline">
                                        </div>
                                        <div>
                                            <span class="name">
                                                <strong>Verdell Rea</strong>
                                                <span class="time small">- 14th Mar</span>
                                                <span class="profile-status available float-right"></span>
                                            </span>
                                            <span class="desc small">
                                                Sometimes it takes a lifetime to win a battle.
                                            </span>
                                        </div>
                                    </a>
                                </li>
                                <li class=" status-busy">
                                    <a href="javascript:;">
                                        <div class="user-img">
                                            <img src="../../assets/data/profile/avatar-2.png" alt="user-image" class="rounded-circle img-inline">
                                        </div>
                                        <div>
                                            <span class="name">
                                                <strong>Linette Lheureux</strong>
                                                <span class="time small">- 16th Mar</span>
                                                <span class="profile-status busy float-right"></span>
                                            </span>
                                            <span class="desc small">
                                                Sometimes it takes a lifetime to win a battle.
                                            </span>
                                        </div>
                                    </a>
                                </li>
                                <li class=" status-away">
                                    <a href="javascript:;">
                                        <div class="user-img">
                                            <img src="../../assets/data/profile/avatar-3.png" alt="user-image" class="rounded-circle img-inline">
                                        </div>
                                        <div>
                                            <span class="name">
                                                <strong>Araceli Boatright</strong>
                                                <span class="time small">- 16th Mar</span>
                                                <span class="profile-status away float-right"></span>
                                            </span>
                                            <span class="desc small">
                                                Sometimes it takes a lifetime to win a battle.
                                            </span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="external">
                            <a href="javascript:;">
                                <span>Read All Messages</span>
                            </a>
                        </li>
                    </ul>

                </li>
                <li class="notify-toggle-wrapper list-inline-item">
                    <a href="#" data-toggle="dropdown" class="toggle">
                        <i class="fa fa-bell"></i>
                        <span class="badge badge-pill badge-accent">3</span>
                    </a>
                    <ul class="dropdown-menu notifications animated fadeIn">
                        <li class="total dropdown-item">
                            <span class="small">
                                You have <strong>3</strong> new notifications.
                                <a href="javascript:;" class="float-right">Mark all as Read</a>
                            </span>
                        </li>
                        <li class="list dropdown-item">

                            <ul class="dropdown-menu-list list-unstyled ps-scrollbar">
                                <li class="unread available"> <!-- available: success, warning, info, error -->
                                    <a href="javascript:;">
                                        <div class="notice-icon">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div>
                                            <span class="name">
                                                <strong>Server needs to reboot</strong>
                                                <span class="time small">15 mins ago</span>
                                            </span>
                                        </div>
                                    </a>
                                </li>
                                <li class="unread away"> <!-- available: success, warning, info, error -->
                                    <a href="javascript:;">
                                        <div class="notice-icon">
                                            <i class="fa fa-envelope"></i>
                                        </div>
                                        <div>
                                            <span class="name">
                                                <strong>45 new messages</strong>
                                                <span class="time small">45 mins ago</span>
                                            </span>
                                        </div>
                                    </a>
                                </li>
                                <li class=" busy"> <!-- available: success, warning, info, error -->
                                    <a href="javascript:;">
                                        <div class="notice-icon">
                                            <i class="fa fa-times"></i>
                                        </div>
                                        <div>
                                            <span class="name">
                                                <strong>Server IP Blocked</strong>
                                                <span class="time small">1 hour ago</span>
                                            </span>
                                        </div>
                                    </a>
                                </li>
                                <li class=" offline"> <!-- available: success, warning, info, error -->
                                    <a href="javascript:;">
                                        <div class="notice-icon">
                                            <i class="fa fa-user"></i>
                                        </div>
                                        <div>
                                            <span class="name">
                                                <strong>10 Orders Shipped</strong>
                                                <span class="time small">5 hours ago</span>
                                            </span>
                                        </div>
                                    </a>
                                </li>
                                <li class=" offline"> <!-- available: success, warning, info, error -->
                                    <a href="javascript:;">
                                        <div class="notice-icon">
                                            <i class="fa fa-user"></i>
                                        </div>
                                        <div>
                                            <span class="name">
                                                <strong>New Comment on blog</strong>
                                                <span class="time small">Yesterday</span>
                                            </span>
                                        </div>
                                    </a>
                                </li>
                                <li class=" available"> <!-- available: success, warning, info, error -->
                                    <a href="javascript:;">
                                        <div class="notice-icon">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div>
                                            <span class="name">
                                                <strong>Great Speed Notify</strong>
                                                <span class="time small">14th Mar</span>
                                            </span>
                                        </div>
                                    </a>
                                </li>
                                <li class=" busy"> <!-- available: success, warning, info, error -->
                                    <a href="javascript:;">
                                        <div class="notice-icon">
                                            <i class="fa fa-times"></i>
                                        </div>
                                        <div>
                                            <span class="name">
                                                <strong>Team Meeting at 6PM</strong>
                                                <span class="time small">16th Mar</span>
                                            </span>
                                        </div>
                                    </a>
                                </li>

                            </ul>

                        </li>

                        <li class="external dropdown-item">
                            <a href="javascript:;">
                                <span>Read All Notifications</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="d-sm-none d-none searchform list-inline-item">
                    <form action="#" method="post">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </span>
                            <input type="text" class="form-control animated fadeIn" placeholder="Search & Enter">
                        </div>
                        <input type='submit' value="">
                    </form>
                </li>
            </ul>
        </div>		
        <div class='float-right'>
            <ul class="info-menu right-links list-inline list-unstyled">
                <li class="profile list-inline-item">
                    <a href="#" data-toggle="dropdown" class="toggle">
                        <img src="{{drImagePath}}" alt="user-image" class="rounded-circle img-inline">
                        <span>{{drName}} <i class="fa fa-angle-down"></i></span>
                    </a>
                    <ul class="dropdown-menu profile animated fadeIn">
                        <li class="dropdown-item">
                            <a href="#settings">
                                <i class="fa fa-wrench"></i>
                                Settings
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a href="#profile">
                                <i class="fa fa-user"></i>
                                Profile
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a href="#help">
                                <i class="fa fa-info"></i>
                                Help
                            </a>
                        </li>
                        <li class="last dropdown-item">
                            <a [routerLink]="['/landing-page']" (click)="signOut()">
                                <i class="fa fa-lock"></i>
                                Logout
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="chat-toggle-wrapper list-inline-item">
                    <a href="#" data-toggle="chatbar" class="toggle_chat">
                        <i class="fa fa-comments"></i>
                        <span class="badge badge-pill badge-accent">9</span>
                        <i class="fa fa-times"></i>
                    </a>
                </li>
            </ul>			
        </div>		
    </div>

</div>