<div class='page-topbar sidebar_shift'>
    <div class='logo-area'>
    </div>
    <div class='quick-area'>
        <app-header></app-header>
    </div>
</div>
<div class="page-container row-fluid container-fluid">
    <app-side-menu></app-side-menu>

    <!-- START CONTENT -->
    <section id="main-content" class=" ">
        <section class="wrapper main-wrapper row">

            <div class="col-12">
                <div class="page-title">

                    <div class="float-left">
                        <!-- PAGE HEADING TAG - START -->
                        <h1 class="title">ACCEPT CO-PAY</h1><!-- PAGE HEADING TAG - END -->
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <!-- MAIN CONTENT AREA STARTS -->

            <div class="col-xl-12">
                <section class="box ">
                    <header class="panel_header">
                        <h2 class="title float-left">Accept Co-pay</h2>

                    </header>
                    <div class="content-body">
                        <div class="row">
                            <div class="col-12">

                                <div class="row">
                                    <div class="col-md-12 col-lg-12 col-xl-12">
                                        <form [formGroup]="acceptcopayForm" (ngSubmit)="save()" #formDir="ngForm" novalidate>
                                            <div class="form-row">
                                                <div class="form-group col-md-4">
                                                    <label for="inputEmail4">Payment Type<span class="text-danger"> *</span></label>
                                                    <!-- <select class="form-control"  formControlName="paymenttypeId">
                                                        <option value="0" >---Select---</option>
                                                        <option value="D">Doctor Specific</option>
                                                    </select> -->
                                                    <select class="form-control" name="" id="service" formControlName="paymenttype" selected >
                                                        <option value="0">--Select--</option>
                                                      <option *ngFor="let item of paymentTypes" value="{{item.ID}}"> {{item.Name}} </option>
                                                    </select>
                                                    <span class="text-danger" *ngIf="acceptcopayForm.hasError('required', ['paymenttype']) && formDir.submitted">
                                                        Payment Type is required.
                                                    </span>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="inputPassword4">Reference #1<span class="text-danger"> *</span></label>
                                                    <input type="text"  class="form-control" formControlName="refNo1"  >
                                                    <span class="text-danger" *ngIf="acceptcopayForm.hasError('required', ['refNo1']) && formDir.submitted">
                                                        Reference #1 is required.
                                                    </span>
                                                </div>

                                                <div class="form-group col-md-4">
                                                    <label for="inputPassword4">Reference #2</label>
                                                    <input type="text"  class="form-control" formControlName="refNo2"  >
                                                  
                                                </div>

                                               
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-4">
                                                    <label for="inputPassword4"><strong>Payment Date </strong><span class="text-danger"> *</span></label>
                                                   
                                                <input type="text" id="date" name="date"  name="dp1"   autocomplete="off"   [readonly]="true"
                                                        formControlName="paydate" class="form-control datepicker" 
                                                        data-format="MM/DD/YYYY" bsDatepicker [minDate]="minDate" 
                                                        [bsConfig]="{containerClass:'theme-default', dateInputFormat: 'MM/DD/YYYY'}"  >
                                                   
                                                    <span class="text-danger" *ngIf="acceptcopayForm.hasError('required', ['paydate']) && formDir.submitted">
                                                        Payment Date is required.
                                                    </span>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="inputPassword4">Amount<span class="text-danger"> *</span></label>
                                                    <input type="text"  class="form-control" formControlName="amount"  >
                                                    <span class="text-danger" *ngIf="acceptcopayForm.hasError('required', ['amount']) && formDir.submitted">
                                                       Amount is required.
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                
                                               
                                                <div class="form-group col-md-3">
                                                    <label for="inputPassword4">&nbsp;</label>
                                                    <br>
                                                    <button type="submit" class="btn btn-primary"  style="margin-right: 10px;">Finish</button>
                                                    <button type="button" class="btn" (click)="reset()">Cancel</button>
                                                    <!-- <button type="submit" class="btn btn-success btn-icon bottom15 right15"><i class="fa fa-search"></i> &nbsp; <span>Search</span></button> -->
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                    
                                   
                                </div>

                            </div>
                        </div>
                    </div>
                </section>
            </div>


            <!-- MAIN CONTENT AREA ENDS -->
        </section>
    </section>
    <!-- END CONTENT -->
</div>